.reveal {
  font-family: "STKaiti", "Noto Serif SC", "KaiTi", serif;
  font-size: 30px;
  line-height: 1.6;
  color: #044875; 
}

.reveal h1, .reveal h2, .reveal h3,  .reveal h4,  .reveal h5{
  font-family: "STKaiti", "Noto Serif SC", "KaiTi", serif;
  font-weight: bold;
  color: #044875;
  line-height: 1.3;
  text-transform: none !important;
}


.reveal .highlight-text {
  color: #044875;
  font-weight: bold;
}


/* 不要变灰 */
.reveal blockquote {
  color: #044875 !important;
}

.reveal::before {
  content: "LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG LI ZONGZHANG";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  font-size: 2em;
  line-height: 1.5;
  color: #000;
  opacity: 0.05;
  transform: rotate(-45deg);
  z-index: 0;
  pointer-events: none;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 控制代码块字体大小和行距 */
.reveal pre code,
.reveal pre.sourceCode code,
.reveal div.sourceCode pre code {
  font-size: 1.5em !important;
  line-height: 1.6 !important;
  font-family: "Courier New", "Fira Code", monospace !important;
}

.rcode {
  background-color: #f8f8ff;
  font-family: "Courier New", monospace;
  padding: 10px;
  border-left: 4px solid #4a90e2;
  white-space: pre-wrap;
  color: #002244;
}

.code-short {
  max-height: 200px;
  overflow-y: auto;
  font-size: 0.85em;
}





