/*-- scss:defaults --*/

// Base document colors
$body-bg: white;
$body-color:#044875;
$link-color: blue;

// Code blocks
$code-block-bg-alpha: -.8;

$h2-font-size:          1.6rem !default;
$headings-font-weight:  bold !default;

h1, h2, h3, h4, h5, h6 {
  color: #044875;
}


